.wrapper {
    max-width: 1180px;
    margin: 10px auto;
    height: 100%;
    padding: 0 5px;
    background: DeppBlueGray;
    overflow: hidden;
}
/* .row {
    border: 1px solid #ff0;
} */

.profit {
    background: #232324;
    padding: 15px 0;
}
.profit .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.profit .item {
    background: #ccc;
    text-align: center;
    margin: 15px;
    flex-basis: 300px;
}

.profit .item .text {
    color: #fff;
    font-size: 1.5rem;
    margin: 3px 0;
}
