body {
    font-family: Verdana;
    font-size: 0.8em;
    color: #333;
    background: #f3f3f3;
}


a {
    text-decoration: none;
}
.list>li {
    font-weight: bold;
}

h4 + li {
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    background-color: hsl(0, 67%, 21%);
}
/* CSS pseudo-class */
a:hover {
    word-spacing: 2.8em;
    text-transform: uppercase;
}
a:link {
color: rgb(15, 100, 21)
}
a:visited {
    color: #a3f3;
}

h4 + li:hover {
    background-color: aquamarine;
}