body {
    font-family: Verdana;
    font-size: 0.8em;
    color: #333;
    background: #f3f3f3;
}

a {
    color: #cb2c2c;
    text-decoration: none;
}

.list>li {
    border-bottom: 1px solid #593dd8;
}

h4 + li {
    font-size: 1.2em;
    padding: 10px;
    text-align: center;
    background-color: #cb2c2c;
}