* {
    box-sizing: border-box;
}
body,html {
    margin: 0;
    padding: 0;
}

#gallery {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

#gallery .images {
    position: relative;
    height: 200px;
}

#gallery .images img {
    position: absolute;
    left: 0;
    opacity: 0;
    transition:  opacity 1s;
}

#gallery .images img.showed {
    opacity: 1;
}

.buttons {
    position: absolute;
    bottom: 0;
   
}
.buttons input {
    margin: 50px;
    padding: 20px;
    text-transform: uppercase;
    border: 5px solid #ccff;
}
.item {
    width: 33%;
    background: #9929;
    border: 1px solid #ff2;
    padding: 20px;
}
.item-active {
    border: 3px dotted #f8d8;
    background: #fff;
    text-align: center;
}