.grid {
    display: grid;
    grid-template-columns: minmax(150px,200px) 1fr 1fr;
    /* grid-template-rows: 150px 150px;
    grid-auto-rows: 90px; */
    grid-gap: 20px;
}

.grid div {
    background-color: #BDBD;
    border: 1px solid #2129;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    color: rgb(19, 35, 176);
    font-weight: bold;
    font-size: 17px;
}
.grid div:nth-last-child(odd) {
    background-color: rgba(1, 66, 6, 0.31);
}
