.container {
    width: 90%;
    padding: 10px;
    /* background: #ddd; */
    margin: 100px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}

.container > .box {
    width: 220px;
    height: 300px;
    background-color: rgb(205, 209, 14);
    margin: 0px 10px;
    transition: 1s;
    border: 1px solid rgb(205, 209, 14);
    border-radius: 4px;
}

.container > .box:hover {
    transform: scale(1.1);
    background-color: rgb(15, 231, 231);
    box-shadow: 2px 2px 2px #000;
    z-index: 2;
}
